table {
  table-layout: fixed;
  width: 150px;
}

td {

  margin: 0; padding: 0;
  width: 5px;
}

.square {

}

.table {
  margin-left: 2%;
}

.row {
  /* border-left: black 1px solid; */

}

.col {

  display: inline-block;
  border: 1px solid black;

  margin-left: -1px;
  margin-bottom: -1px;

  float: left;
  width: 25px;
  height: 25px;
  text-align: center;
}

.square-value {
  display: none;
}

button {
  margin-bottom: 15px;
  margin-left: 8%;
}

#lost {
  display: none;
}

#won {
  display: none;
}
