table {
  table-layout: fixed;
  width: 150px;
}

td {

  margin: 0; padding: 0;
  width: 5px;
}

.square {
  /* position: absolute; */
}

.table {
  /* border-left: black 1px solid; */
  /* border-top: black 1px solid; */
}

.row {
  border-left: black 1px solid;

}

.col {
  float: left;
  border-right: black 1px solid;
  border-bottom: black 1px solid;
  width: 25px;
  height: 25px;
  text-align: center;
}

.square-value {
  display: none;
}
